services:
  mariadb:
    image: mariadb:11
    container_name: alojamientos-db
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: alojamientos
      MARIADB_USER: app
      MARIADB_PASSWORD: apppass
      MARIADB_ROOT_PASSWORD: rootpass
      TZ: America/Bogota
    healthcheck:
      # Usamos el usuario de app con password, por TCP
      test: ["CMD-SHELL", "mariadb-admin ping --protocol=tcp -h 127.0.0.1 -P 3306 -u$${MARIADB_USER} -p$${MARIADB_PASSWORD} --silent || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 60s
    volumes:
      - mariadb_data:/var/lib/mysql
    networks: [appnet]



  backend:
    image: ghcr.io/jorgemontoya022/alojamientos-backend:latest
    container_name: alojamientos-backend
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SERVER_PORT: 8080
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/alojamientos
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: apppass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MariaDBDialect
      TZ: America/Bogota

      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: "587"
      SMTP_USERNAME: "stayco928@gmail.com"
      SMTP_PASSWORD: "hcnxwnzghgddipww"
      SMTP_TLS: "true"

      EMAIL_ENABLED: "true"
      AUTO_VERIFY_USERS: "true"
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - "8080:8080"
    networks: [appnet]

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alojamientos-frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks: [appnet]


networks:
  appnet: {}

volumes:
  mariadb_data: {}
